:root {
	--swiper-navigation-size: 2rem;
	--swiper-navigation-color: transparent;
	--swiper-pagination-color: transparent;
	//--swiper-theme-color: transparent;
}
.swiper-container:hover {
	--swiper-navigation-color: #fff;
	//--swiper-theme-color: #aaa;
	--swiper-pagination-color: #4d4d4d;
	--swiper-pagination-active-color: #aaa;
}
.swiper-button-disabled {
	display: none;
}
.swiper-button-prev,
.swiper-button-next {
	background: rgba(20, 20, 20, 0.5);
	width: 5%;
	height: 16.4vw;
	top: auto;
	margin-top: 24px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background: rgba(20, 20, 20, 0.75);
	color: #fff;
	--swiper-navigation-size: 3rem;
}
.swiper-button-prev {
	left: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.swiper-button-next {
	right: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	transition: font-size 0.2s;
}
.swiper-slide:first-child,
.swiper-slide:nth-child(9),
.swiper-slide:nth-child(17),
.swiper-slide:nth-child(25),
.swiper-slide:nth-child(33) {
	transform-origin: left;
}
.swiper-slide:nth-child(8),
.swiper-slide:nth-child(16),
.swiper-slide:nth-child(24),
.swiper-slide:nth-child(32),
.swiper-slide:last-child {
	transform-origin: right;
}
@media (max-width: 768px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}
.swiper-pagination {
	position: relative;
	text-align: right;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 12px;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 2px;
	border-radius: 0;
	background: var(--swiper-pagination-color);
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background: var(--swiper-pagination-active-color);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0 0 1px;
}
