:root {
	--swiper-navigation-size: 2.5vw;
	--swiper-navigation-color: transparent;
	--swiper-pagination-color: transparent;
}
.swiper-container:hover {
	--swiper-navigation-color: #fff;
	--swiper-pagination-color: #4d4d4d;
	--swiper-pagination-active-color: #aaa;
}
.swiper-button-disabled {
	display: none;
}
.swiper-button-prev,
.swiper-button-next {
	background: rgba(20, 20, 20, 0.5);
	width: calc(5% - 8px);
	height: calc(69.19% - 1.217rem);
	top: 0;
	margin: calc(4% + 24px) 0 0;
}
@media (min-width: 1280px) {
	.swiper-button-prev,
	.swiper-button-next {
		height: calc(66.17% - 1.28rem);
	}
}
@media (min-width: 1600px) {
	.swiper-button-prev,
	.swiper-button-next {
		height: calc(62.78% - 1.18rem);
	}
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background: rgba(20, 20, 20, 0.75);
	color: #fff;
	--swiper-navigation-size: 3.5vw;
}
.swiper-button-prev {
	left: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.swiper-button-next {
	right: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	transition: font-size 0.2s;
}
@media (max-width: 1279px) {
	.swiper-slide:nth-child(5n + 1) {
		transform-origin: left;
	}
	.swiper-slide:nth-child(5n) {
		transform-origin: right;
	}
}
@media (min-width: 1280px) and (max-width: 1599px) {
	.swiper-slide:nth-child(7n + 1) {
		transform-origin: left;
	}
	.swiper-slide:nth-child(7n) {
		transform-origin: right;
	}
}
@media (min-width: 1600px) {
	.swiper-slide:nth-child(8n + 1) {
		transform-origin: left;
	}
	.swiper-slide:nth-child(8n) {
		transform-origin: right;
	}
}
@media (max-width: 767px) {
	.swiper-button-prev,
	.swiper-button-next,
	.swiper-pagination {
		display: none;
	}
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	position: relative;
	text-align: right;
	z-index: 0;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 2px;
	border-radius: 0;
	background: var(--swiper-pagination-color);
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background: var(--swiper-pagination-active-color);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0 0 1px;
}
