@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Inter';
	src: local('Inter'), url(./assets/Inter.ttf) format('ttf');
}

body {
	@apply bg-black-custom text-white-custom;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
	@apply transform scale-75 -translate-y-3;
}
