@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Inter';
	src: local('Inter'), url(./assets/Inter.ttf) format('ttf');
}

body {
	background-color: #030303;
	color: #f2f2f2;
}
input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
	@apply transform scale-75 -translate-y-3;
}
